<!-- we will create an unordered list -->
<ul id="lists">  <!-- ul = unordered list -->
  <% sort_lists(@lists) do |list| %>
  <li class="<%= list_class(list) %>">
      <a href="/lists/<%= list[:id] %>">
        <h2><%= list[:name] %></h2>
        <p>
          <%= todos_remaining_count(list) %> / <%= todos_count(list) %>
        </p>
      </a>
    </li> <!-- li = item in a list -->
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>

